extends ../base
include ../blocks/hero
include ../blocks/footer
include ../blocks/title
include ../blocks/subtitle
block head
    title Обо мне
block variables
    -

        var activities = ['frontend', 'backend', 'workflow'];
        var skillSet = [
            ['HTML5', 'CSS3', 'JavaScript & jQuery'],
            ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db'],
            ['Git', 'Gulp', 'Webpack']
        ];
        var contactsList = [
            {
                icon: 'skype',
                text: 'perftema'
            },
            {
                icon: 'envelope',
                text: 'kaloev.eltech@gmail.com'
            },
            {
                icon: 'phone',
                text: '+7 999 123 45 67'
            },
            {
                icon: 'map_marker',
                text: 'г. Санкт-Петербург, ул. профессора Попова'
            }
        ];

block content
    +hero
    section.section.personal
        .personal__left-col
            .personal__avatar-area.avatar-area
                +title('Обо мне', 'avatar-area')
                img(src='images/avatar.jpg').avatar-area__img
            .personal__text-area.text-area
                h1 Кто я
                p Далеко-далеко за словесными горами в странегласных и согласных живут рыбные тексты. На берегусвоего коварных ручеек имеет!
                p Далеко-далеко за словесными, горами в странегласных и согласных живут рыбные тексты.
        .personal__right-col
            .personal__text-area.text-area.text-area_left
                h1 Чем я могу быть вам полезен
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            ul.personal__skills.skills
                each item, index in activities
                    li.skills__item
                        .skills__title #{item}
                        ul(class=`skills__list ${item}`)
                            each skillItem in skillSet[index]
                                li(class=`circle ${item}__item ${skillItem}`)
                                    svg.circle__icon(width='120', height='120', xmlns='http://www.w3.org/2000/svg')
                                        circle.circle__main(r="40", cx="60", cy="60")
                                        circle.circle__sector(r="40", cx="60", cy="60")
                                        text(x="60" y="65").circle__text #{skillItem}
                                    .circle__text #{skillItem}
    section.section.map
        .map__contacts.contacts
            +subtitle('Контакты', 'contacts')
            ul.contacts__list
                each item in contactsList
                    li.contacts__item
                        svg(width='25', height='25').contacts__icon
                            use(xlink:href=`images/sprite.svg#${item.icon}`)
                        .contacts__text #{item.text}
        +footer                
        