extends ../base
include ../blocks/socials
include ../blocks/intro
include ../blocks/title
include ../blocks/subtitle
block head
    title Обо мне
block variables
    -

        var activities = ['frontend', 'backend', 'workflow'];
        var skillSet = [
            ['HTML5', 'CSS3', 'JavaScript & jQuery'],
            ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db'],
            ['Git', 'Gulp', 'Webpack']
        ];
        var contactsList = [
            {
                icon: 'skype',
                text: 'perftema'
            },
            {
                icon: 'envelope',
                text: 'kaloev.eltech@gmail.com'
            },
            {
                icon: 'phone',
                text: '+7 999 123 45 67'
            },
            {
                icon: 'map_marker',
                text: 'г. Санкт-Петербург, ул. профессора Попова'
            }
        ];
        var menuSet = [
            {
                href: './works.html',
                text: 'Мои работы'
            },
            {
                href: './about.html',
                text: 'Обо мне'
            },
            {
                href: './blog.html',
                text: 'Блог'
            },
            {
                href: './index.html',
                text: 'Авторизация'
            }
        ];

block content
    section.section.hero
        header.hero__header.header
            .header__socials.socials_about
                +socials('hero')
            a(href='#').header__menu.menu
                .menu__icon
        .hero__intro
            +intro('hero')
        a(href='#').hero__arrow.arrow
            svg(width='25', height='20').arrow__icon
                use(xlink:href='images/sprite.svg#arrow')
        svg(viewBox='0 0 1200 130', preserveAspectRatio='none').hero__triangles.triangles
                polygon(points='0,0 600,110 600,130 0,130').triangles__left
                polygon(points='600,110 1200,0 1200,130 600,130').triangles__right
    section.section.personal
        .personal__left-col
            .personal__avatar-area.avatar-area
                +title('Обо мне', 'avatar-area')
                img(src='images/avatar.jpg').avatar-area__img
            .personal__text-area.text-area
                h1 Кто я
                p Далеко-далеко за словесными горами в странегласных и согласных живут рыбные тексты. На берегусвоего коварных ручеек имеет!
                p Далеко-далеко за словесными, горами в странегласных и согласных живут рыбные тексты.
        .personal__right-col
            .personal__text-area.text-area.text-area_left
                h1 Чем я могу быть вам полезен
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            ul.personal__skills.skills
                each item, index in activities
                    li.skills__item
                        .skills__title #{item}
                        ul(class=`skills__list ${item}`)
                            each skillItem in skillSet[index]
                                li(class=`circle ${item}__item ${skillItem}`)
                                    svg.circle__icon(width='120', height='120', xmlns='http://www.w3.org/2000/svg')
                                        circle.circle__main(r="40", cx="60", cy="60")
                                        circle.circle__sector(r="40", cx="60", cy="60")
                                        text(x="60" y="65").circle__text #{skillItem}
                                    .circle__text #{skillItem}
    section.section.map
        .map__contacts.contacts
            +subtitle('Контакты', 'contacts')
            ul.contacts__list
                each item in contactsList
                    li.contacts__item
                        svg(width='25', height='25').contacts__icon
                            use(xlink:href=`images/sprite.svg#${item.icon}`)
                        .contacts__text #{item.text}
        footer.footer.map__footer
            .footer__row
                .footer__col.footer__col_left
                    .footer__menu-text
                        ul.menu-text
                            each item in menuSet
                                li.menu-text__item
                                    a.menu-text__btn(href=`${item.href}`) #{item.text}           
                .footer__col.footer__col_right
                    +socials('footer')
            .footer__row
                .footer__col.footer__col_left
                    .footer__about-me Я веб разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
                .footer__col.footer__col_right
                    .footer__credits © Артем Калоев | Создано с любовью в Loftscool | 2018

