mixin socials(className)
    -
            var socialList = [
                {
                    href: 'https://vk.com',
                    text: 'vk'
                },
                {
                    href: 'https://github.com/',
                    text: 'github'
                },
                {
                    href: 'https://ru.linkedin.com/',
                    text: 'linkedin'
                }
            ];

    ul.socials
        each item in socialList
            li.socials__item(class=`socials__item_${className}`)
                a(href=`${item.href}`).socials__link.social
                    svg.social__icon(width='25', height='25', class=`social__icon_${className}`)
                        if (className === 'footer')
                            use(xlink:href=`images/sprite.svg#${item.text}_round`)
                        else 
                            use(xlink:href=`images/sprite.svg#${item.text}`)